root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 140
# Relax a few opinionated ktlint rules that conflict with the existing Spring/JPA style.
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled
ktlint_standard_package-name = disabled
ktlint_standard_function-naming = disabled

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2
